@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapperM{
    height: 100vh;
    perspective: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.container1{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;

}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
    
}
sectionA{
    background-color: blue;
    color: black;
    padding: 5rem 0;
}
.bg1{
    background-image: url(bg-1.jpeg);

}
.bg2{
    background-image: url(grppphoto.jpeg);
}
h1{
    text-align: center;
    font-size: 5rem;
    padding: 0 10rem;
    font-family: 'Pacifico', cursive;

}
.text{
  
    font-size: 2rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.text1{
    color: black;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 600px;
    background-size: cover;
    background-position: center;
}
.container2{
    background-color: #0c2626;
}
.text2{
    color: #8c4026;
}
.bg2{
    background-image: url(image3.jpeg);
}
.bg3{
    background-image: url(grppphoto.jpeg);
}
.container3{
    background-color: #26260c;
}
.text4{
    color: rgb(241, 241, 171)    ;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.fa-facebook-f{
    background-image: url(Facebook-Logo.webp);
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}