.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .post img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .comments {
    margin-top: 20px;
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  .comment-content {
    font-style: italic;
  }
  
  .comment-form {
    margin-top: 20px;
    border-color: black;
  }
  
  .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
  }
  
  .comment-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .comment-form button:hover {
    background-color: #0056b3;
  }